<h2>PVoutput.org Daten</h2>

<%= form_for @pvoutput, url: {action: "savePVoutput"}, html: {class: "nifty_form"} do |f| %>

  <div class="field">
    <%= f.label :key %><br />
    <%= f.text_field :key, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :sid %> <br />
    <%= f.text_field :sid %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
